.card_container{
  height: auto;
  display: flex;
  justify-content:space-around;
  width:100%;
  
}

.project_card{
  height: 500px;
  width: 350px;
  background-size:cover;
  background-position:top;
  border-radius: 10px;
  transition: ease-in-out 3s;
}

.project_card:hover{
  background-position:bottom;
} 
